Repository interTwin-eu/itwinai, pull requests merged in 2025-07, with the labels that each got.

#392 New linting rules (+ minor docs update)
  .github/linters/.ruff.toml
  env-files/torch/horovod-deepspeed-JSC.slurm
  pyproject.toml
  src/itwinai/__init__.py
  src/itwinai/cli.py
  src/itwinai/loggers.py
  src/itwinai/scalability_report/reports.py
  src/itwinai/slurm/slurm_script_builder.py
  src/itwinai/slurm/utils.py
  src/itwinai/torch/inference.py
  src/itwinai/torch/mlflow.py
  src/itwinai/torch/monitoring/monitoring.py
  src/itwinai/torch/trainer.py
  src/itwinai/torch/utils.py
  src/itwinai/utils.py
  tests/loggers/test_loggers.py
  tutorials/hpo-workflows/fashion-mnist/data.py
  use-cases/eurac/hpo.py
Labels: Documentation, Clean up, SLURM

#406 Add an overview for the profiling functionality in the docs
  docs/tutorials/profiling/profiling-overview.rst
  docs/tutorials/tutorials.rst
Labels: Documentation

#420 Update exec-pipeline and fix tests
  src/itwinai/cli.py
  src/itwinai/tests/dummy_components.py
  src/itwinai/utils.py
  tests/components/test_config_parsing.py
Labels: Bug, Clean up, CLI

#438 Fix torchrun on JSC booster partition
  docs/getting-started/slurm.rst
  docs/installation/post_itwinai_installation.rst
  env-files/torch/horovod-deepspeed-JSC.slurm
  pyproject.toml
  use-cases/mnist/torch/runall.jsc.sh
  use-cases/mnist/torch/slurm.jsc.sh
  uv.lock
Labels: Bug, Dependencies
